<div class="pageOpacity">
  <div class="pageroom">
      <section class="room">
        <div class="crewcard">
            <span class="circle circle--1"><div class="image-jl"></div></span>
            <article class="content content--jl">
              <h1>coucou</h1>
              <h2>c'est jean-loup</h2>
              <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
              ullamco laboris nisi ut aliquip ex ea commodo consequat.
              </p>
            </article>
        </div>

        <div class="crewcard">
          <span class="circle circle--2"><div class="image-caro"></div></span>
          <article class="content content--caro">
            <h1>coucou</h1>
            <h2>c'est jean-loup</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </article>
        </div>

        <div class="crewcard">
          <span class="circle circle--3"><div class="image-roro"></div></span>
          <article class="content content--roro">
            <h1>coucou</h1>
            <h2>c'est jean-loup</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </article>
        </div>

        <div class="crewcard">
          <span class="circle circle--4"><div class="image-alex"></div></span>
          <article class="content content--choco">
            <h1>coucou</h1>
            <h2>c'est jean-loup</h2>
            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
          </article>
        </div>

      </section>
  </div>
</div>
