<div class="pageOpacity">
  <h1>Calendrier Index</h1>
  <% @reservations.each do |reservation| %>
    <%= reservation.name %>
  <% end %>

  <%= link_to new_reservation_path, class: "barnavlink" do%>
  <p>Nouvelleee reservation</p><span></span>
  <% end %>

</div>


