<div class="pageOpacity">
  <h1>nouvelle resa</h1>
    <%= simple_form_for (@reservation) do |f| %>
      <%= f.input :name %>
      <%= f.input :destination %>
      <br>
      <%= f.button :submit, class: "barnavlink"%>
    <% end %>
</div>
