.image {
  background-position: center;
  background-size: cover;
  height: 550px;
  width: 550px;
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -35%);
  transition: 1s ease-out;
  &.image--jl {
   background-image: url("jlpbg.png");
  }
  &.image--caro {
   background-image: url("carreauseule.png");
   transform: translate(-50%, -40%);
  }
  &.image--roro {
  background-image: url("rorobgpropre.png");
  transform: translate(-50%, -50%);
  }
  &.image--choco {
  background-image: url("alex.jpg");
  transform: translate(-50%, -50%);
  }
}
